

/*******************************************************************
    Common
 *******************************************************************/
.div_empty { margin-top: 30px; }


/*******************************************************************
    Input Text
 *******************************************************************/
.input_width_auto {
    width: auto;
}


/*******************************************************************
    Button
 *******************************************************************/
/*-------- btn_simple */
.btn_simple {
    opacity: 1 !important;
    border: 1px solid #CCC;
    border-radius: 3px;
    background: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.btn_simple:hover {
    background: #4D5656;
}

.btn_simple[disabled] {
    background: #7B7D7D;
    color: #CACFD2;
}

.btn_simple[disabled]:hover {
    cursor: not-allowed;
}

/*-------- btn_table */
.btn_table {
    opacity: 1 !important;
    border: 1px solid #2471A3;
    border-radius: 1px;
    background: #2471A3;
    color: #fff;
    padding: 3px 5px;
    margin: 2px;
    cursor: pointer;
    width: auto;
    text-align: center;
}

.btn_table:hover {
    background: #2E86C1;
}

.btn_table[disabled] {
    background: #7B7D7D;
    color: #CACFD2;
    border: 1px solid #7B7D7D;
}

.btn_table[disabled]:hover {
    cursor: not-allowed;
}


/*-------- btn_detail */
.btn_detail {
    opacity: 1 !important;
    border: 1px solid #1A5276;
    border-radius: 1px;
    background: #F8F9F9;
    color: #212F3C;
    padding: 3px 3px;
    margin: 2px;
    cursor: pointer;
    width: auto;
    text-align: center;
}

.btn_detail:hover {
    background: #D4E6F1;
}

.btn_detail[disabled] {
    background: #7B7D7D;
    color: #CACFD2;
    border: 1px solid #7B7D7D;
}

.btn_detail[disabled]:hover {
    cursor: not-allowed;
}

/*******************************************************************
    DIV - Search
 *******************************************************************/
#div_search {
    background: #EBEDEF;
    padding: 10px 20px;
}

#div_search ul.items {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

#div_search ul.items li {
    padding: 3px 1px;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}

#div_search ul.items li label {
	display: block;
	padding: 4px 2px 0 0;
    float: left;
    width: 120px;
}

@media screen and (min-width:1000px){
	#div_search ul.col2 li {
		width: 40em;
	}

	#div_search ul.col3 li {
		width: 30em;
	}
}
@media screen and (max-width:999px){
	#div_search ul.col2 li {
		width: 100%;
	}

	#div_search ul.col3 li {
		width: 100%;
	}
}

.results {
    width: auto;
	overflow-x: auto;
}


/*******************************************************************
    DIV Table - Result
 *******************************************************************/
.tbFixWidth50  { width: 50px; }
.tbFixWidth120 { width: 120px;}
.tbWidth03 { width: 3%; }
.tbWidth05 { width: 5%; }
.tbWidth07 { width: 7%; }
.tbWidth10 { width: 10%; }
.tbWidth15 { width: 15%; }
.tbWidth18 { width: 18%; }
.tbWidth20 { width: 20%; }
.tbWidth30 { width: 30%; }
.tbWidth80 { width: 80%; }

.div_result {
    overflow-x: scroll;
}
.div_tb_result {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	border-color: #ccc;
}
.div_tb_result .thead {
	display: table-header-group;
    padding: 8px;
    text-transform: uppercase;
}
.div_tb_result .tbody {
	display: table-row-group;
}
.div_tb_result .tr {
	display: table-row;
	width: 100%;
}
.div_tb_result .tr:nth-child(even){
	background-color: #FBFBFB;
}
.div_tb_result .tr:hover {
	background-color: #E0E0E0;
}
.div_tb_result .th {
	display: table-cell;
    padding: 5px 10px;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #666;
    background: #f6f6f6;
    vertical-align: middle;
    font-weight: 800;
    font-size: 11px;
    word-wrap: break-word;
}
.div_tb_result .td {
	display: table-cell;
	padding: 10px;
	border-bottom: 1px solid #ececec;
    line-height: 14px;
    vertical-align: middle;
	font-size: 13px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    overflow: visible;
    word-wrap: break-word;
}

.div_tb_result .th_style2 {
    color: #666;
    background: #D6DBDF;
}

.div_tb_result .th_user_input {
    background: #F7DC6F;
}
.div_tb_result .td_user_input {
    background: #FCF3CF;
}



/*******************************************************************
    DIV Table - Key-value
 *******************************************************************/
.div_tb_keyval {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;
	border-color: #ccc;
}
.div_tb_keyval .tbody {
	display: table-row-group;
}
.div_tb_keyval .tr {
	display: table-row;
	width: 100%;
}
.div_tb_keyval .th {
	display: table-cell;
    padding: 5px 10px;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #666;
    background: #f6f6f6;
    vertical-align: middle;
    font-weight: 800;
    font-size: 11px;
}
.div_tb_keyval .td {
	display: table-cell;
	padding: 10px;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
    line-height: 14px;
    vertical-align: middle;
	font-size: 13px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    overflow: visible;
}


/*******************************************************************
    Tooltip
 *******************************************************************/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltipIcon {
	color: #999999;
}



/*******************************************************************
    Alert Message Box
 *******************************************************************/
.msg_div {
    padding: 20px;
    margin-bottom: 15px;
}
.msg_div.top {
    padding: 10px 20px;
    margin: 0px;
}
.msg_div.small {
    padding: 10px 20px;
    margin: 10px 10px;
}
.msg_div.debug {
    background-color: #D6EAF8;
    color: #2874A6;
}
.msg_div.info {
    background-color: #D4EFDF;
    color: #1E8449;
}
.msg_div.success {
    background-color: #F9E79F;
    color: #9A7D0A;
}
.msg_div.warning {
    background-color: #F5B7B1;
    color: #A93226;
}
.msg_div.error {
    background-color: #C0392B;
    color: white;
}

/* The close button */
.msg_close_btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.msg_close_btn:hover {
  color: black;
}

/*******************************************************************
    PAGINATOR
 *******************************************************************/
.paginator {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin: 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

.paginator a:link, .paginator a:visited {
    padding: 2px 6px;
    text-decoration: none;
}

.paginator a.showall {
    padding: 0;
    border: none;
    background: none;
    color: #5b80b2;
}

.paginator a.showall:focus, .paginator a.showall:hover {
    background: none;
    color: #036;
}

.paginator .end {
    margin-right: 6px;
}

.paginator .this-page {
    padding: 2px 6px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: top;
}

.paginator a:focus, .paginator a:hover {
}


/*******************************************************************
    Navigation
 *******************************************************************/
#divNavigation {
    margin-top: 20px;
}

.navActive {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79aec8), color-stop(1, #417690));
	background:-moz-linear-gradient(top, #79aec8 5%, #417690 100%);
	background:-webkit-linear-gradient(top, #79aec8 5%, #417690 100%);
	background:-o-linear-gradient(top, #79aec8 5%, #417690 100%);
	background:-ms-linear-gradient(top, #79aec8 5%, #417690 100%);
	background:linear-gradient(to bottom, #79aec8 5%, #417690 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79aec8', endColorstr='#417690',GradientType=0);
	background-color:#79aec8;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.navPass {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.navPass:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.navPass:active {
	position:relative;
	top:1px;
}
.navDeactive {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #fafafa));
	background:-moz-linear-gradient(top, #ededed 5%, #fafafa 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #fafafa 100%);
	background:-o-linear-gradient(top, #ededed 5%, #fafafa 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #fafafa 100%);
	background:linear-gradient(to bottom, #ededed 5%, #fafafa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#fafafa',GradientType=0);
	background-color:#ededed;
	display:inline-block;
	color:#c7c7c7;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.navLine {
	background-color:#417690;
	line-height: 8px;
	margin-bottom: 10px;
}




/*******************************************************************
    Modal Layer Dialog
 *******************************************************************/
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
    overflow-y: auto;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
	background:rgba(0,0,0,0.2);
	padding:8px;
}

.modalDialog > div {
	max-width: 800px;
	width: auto;
	position: relative;
	margin: 10% auto;
	border-radius:8px;
	background:#fff;
	padding:20px;
}

.close {
	position: absolute;
	width: 24px;
	top: -10px;
	right: -12px;
	line-height: 25px;
	text-align: center;
	background: #606061;
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.modalDiv {
	padding: 8px 10px;
    margin-bottom: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f8f8f8;
    color: #666;
}

ul.modalItems {
    display: block;
    margin: 0;
    width: 100%;
}

ul.modalItems li {
    padding: 3px 1px;
    font-weight: bold;
    display: inline-block;
}

ul.modalItems li label {
	display: block;
	padding: 4px 10px 0 0;
    float: left;
    width: 120px;
    text-align: right;
}

ul.modalCol2 li {
	width: 28em;
}

ul.modalCol4 li {
	width: 24%;
}

ul.modalCol4 li label {
    width: 60px;
    text-align: left;
}
