{% extends "include/base.html" %}
{% load staticfiles %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block extrahead %}

{{ block.super }}


<script type="text/javascript">


//---------------------------------------
//  OnLoad
//---------------------------------------
$(function() {
    $("#span_alert_fnm").text("");
    $("#span_alert_lnm").text("");
    $("#span_alert_pw").text("");
    $("#span_alert_rpw").text("");
    $("#span_alert_auth").text("");
    $("#div_alert_fnm").hide();
    $("#div_alert_lnm").hide();
    $("#div_alert_pw").hide();
    $("#div_alert_rpw").hide();
    $("#div_alert_auth").hide();
});


//---------------------------------------
//  Validation Check before Saving
//---------------------------------------
function validationCheck() {

    let bool_return = true;

	const strFirstName = $("#txtFirstName").val();
	if(strFirstName == "") {
        $("#span_alert_fnm").text("Fill the First Name");
        $("#div_alert_fnm").show();
		$("#txtFirstName").focus();
		bool_return = false;
	} else {
        $("#span_alert_fnm").text("");
        $("#div_alert_fnm").hide();
    }

	const strLastName = $("#txtLastName").val();
	if(strLastName == "") {
        $("#span_alert_lnm").text("Fill the Last Name");
        $("#div_alert_lnm").show();
		$("#txtLastName").focus();
		bool_return = false;
	} else {
        $("#span_alert_lnm").text("");
        $("#div_alert_lnm").hide();
    }

	const strPassword = $("#txtPassword").val();
	if(strPassword == "") {
        $("#span_alert_pw").text("Fill the Password");
        $("#div_alert_pw").show();
		$("#txtPassword").focus();
		bool_return = false;
	} else {
        $("#span_alert_pw").text("");
        $("#div_alert_pw").hide();
    }

	const strRePassword = $("#txtRePassword").val();

	if(strPassword != strRePassword || strRePassword == "") {
        $("#span_alert_rpw").text("Check your password");
        $("#div_alert_rpw").show();
		$("#txtRePassword").focus();
		bool_return = false;
	} else {
        $("#span_alert_rpw").text("");
        $("#div_alert_rpw").hide();
    }

    const strAuthority = $("#selAuthority").val();
	if(strAuthority == "") {
        $("#span_alert_auth").text("Choose the authority");
        $("#div_alert_auth").show();
		$("#selAuthority").focus();
		bool_return = false;
	} else {
        $("#span_alert_auth").text("");
        $("#div_alert_auth").hide();
    }

    return bool_return;
}


//---------------------------------------
//  Modify
//---------------------------------------
function modify() {
	if(validationCheck()) {

        $.ajax({
			type: 'POST',
			url: "{% url 'pjo:prf_mod' %}",
			data: { "csrfmiddlewaretoken": "{{ csrf_token }}",
                txtId : $("#txtId").val(),
                txtFirstName : $("#txtFirstName").val(),
                txtLastName : $("#txtLastName").val(),
                txtPassword : $("#txtPassword").val(),
                selAuthority : $("#selAuthority").val(),
			},
			dataType: 'json',
            success: function(data) {
                $("#span_json_msg").text(data.ret_msg);
                $("#div_json_msg").addClass(data.ret_level);
                $("#div_json_msg").show();
                $("#div_json_msg").delay(1000).fadeOut('slow');
            },
            error: function(request, status, error) {
                $("#span_json_msg").text(error);
                $("#div_json_msg").addClass("error");
                $("#div_json_msg").show();
            }
        });
	}
}

</script>


{% endblock %}


{% block coltype %}colM{% endblock %}
{% block content %}
<div id="content-main">

<form action="" method="post" id="mainForm" name="mainForm" novalidate>{% csrf_token %}

    <dl>
        <dt><label for="txtId">ID</label></dt>
        <dd>
            <input type="text" id="txtId" value="{{ id }}" maxlength="20" class="vTextField" readonly/>
        </dd>
        <dt><label for="txtFirstName">First name</label></dt>
        <dd>
            <input type="text" id="txtFirstName" value="{{ firstName }}" maxlength="50" class="vTextField"/>
            <div id="div_alert_fnm" class="msg_div success small">
              <span class="msg_close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span id="span_alert_fnm"></span>
            </div>
        </dd>
        <dt><label for="txtLastName">Last name</label></dt>
        <dd>
            <input type="text" id="txtLastName" value="{{ lastName }}" maxlength="50" class="vTextField"/>
            <div id="div_alert_lnm" class="msg_div success small">
              <span class="msg_close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span id="span_alert_lnm"></span>
            </div>
        </dd>
        <dt><label for="txtPassword">Password</label></dt>
        <dd>
            <input type="password" id="txtPassword" value="{{ password }}" maxlength="20" class="vTextField"/>
            <div id="div_alert_pw" class="msg_div success small">
              <span class="msg_close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span id="span_alert_pw"></span>
            </div>
        </dd>
        <dt><label for="txtRePassword">Check Password</label></dt>
        <dd>
            <input type="password" id="txtRePassword" value="{{ password }}" maxlength="20" class="vTextField"/>
            <div id="div_alert_rpw" class="msg_div success small">
              <span class="msg_close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span id="span_alert_rpw"></span>
            </div>
        </dd>
        <dt><label for="selAuthority">Authority</label></dt>
        <dd>
            <select id="selAuthority" name="selAuthority" {% if authority != "99" %}disabled{% endif %}>
                <option value="">--Choose--</option>
            {%	for auth in code001 %}
                <option value="{{ auth.code_id }}" {% if authority == auth.code_id %}selected{% endif %}>{{ auth.code_nm }}</option>
            {%	endfor %}
            </select>
            <div id="div_alert_auth" class="msg_div success small">
              <span class="msg_close_btn" onclick="this.parentElement.style.display='none';">&times;</span>
              <span id="span_alert_auth"></span>
            </div>
        </dd>
    </dl>

	<div class="submit-row">
        <input type="button" value="Modify" class="btn_simple" id="btnModify" onclick="modify()"/>
	</div>

</form>

</div>

{% endblock %}
